<!DOCTYPE html>
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <style>  
      table, th , td {
        font-family: cursive;
        cursor: pointer;
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
      }
      th{
        background-color: #000;
        color: white;
      }
      .selected{
        background-color: #f00;
      }
      .notSelected:nth-child(even) {
			background-color: #aaa;
	  }
      h1{
        font-family:cursive;
      }
      p{
        font-family:cursive;
      }
  </style>
  </head>
  <body>
    <h1>UX Society Members</h1>
      <div>
        <div ng-app="myApp" ng-controller="peopleController as main">
          <input type="text" placeholder="Search" ng-model="thisSelectedName" style="width: 50%; float:left">
          <select ng-model="selectedCountry" ng-options="x.Country for x in main.names|countryList">
			<option value="">Select</option>
          </select>
          <br><br>
          <table style="width:70%; float:left">
            <col width="60%">
            <col width="40%">
            <tr>
              <th>Name</th>
              <th>Location</th>
            </tr>
            <tr ng-repeat="x in main.names| filter:thisSelectedName | filter: x.Country = selectedCountry.Country" ng-click="main.setSelected(x)" ng-class="{'selected': x.Name === main.selectedPerson.Name, 'notSelected': x.Name !== main.selectedPerson.Name}">
              <td>{{x.Name}}</td>
              <td>{{x.City +", "+x.Country}}</td>
            </tr>
          </table>
          <div style="border:3px solid black; margin-left:10px; width:25%; float: right">
            <p> Name: {{main.selectedPerson.Name}}</p>
            <p> City: {{main.selectedPerson.City}}</p>
            <p> Country: {{main.selectedPerson.Country}}</p>
          </div>
          </div>
    </div>
    <script>
      var app = angular.module('myApp', []);
      app.factory('People', function($http){
        return {
          list: function(callback){
            $http.get("http://www.w3schools.com/angular/customers.php").success(callback);
          }
        };
      });
		app.controller('peopleController', function(People) {
		  var vm = this;
		  
		  vm.names;

		  vm.init = function() {
			People.list(function(people) {
			  vm.names = people.records;
			});
		  };
		  
		  vm.init();
			
		  vm.setSelected = function(x) {
			vm.selectedPerson = x;
		  };
		});
		app.filter('countryList', function () {
			return function (input) {
				if(typeof input == 'undefined'){
					console.log("Undefined!");
					return input;
				}
				console.log("AAAAAAAAAAAA");
				var item = input[0];
				var list = [item];
				var test = [item.Country];
				for (var i = 1; i < input.length; i++) {
					var item = input[i];
					if (test.indexOf(item.Country)===-1) {
						list.push(item);
						test.push(item.Country);
				}
			}
			function compare(a,b){
				if(a.Country<b.Country){
					return -1;
				}
				if(b.Country<a.Country){
					return 1;
				}
				return 0;
			}
			
			list.sort(compare);
			console.log(list);
			return list;		
		};
	  });

  </script>
  </body>
</html>
